<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>渐进式面试题</title>
  <link rel="stylesheet" href="<%-url_for('/css/index.css')%>">
  <link rel="stylesheet" href="<%-url_for('/highlight/styles/default.min.css')%>">

  <script src="<%-url_for('/highlight/highlight.min.js')%>"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>

</head>

<body>

  <h1> <a href="<%-url_for('/')%>">渐进式前端面试</a> </h1>

  <%- list_categories({
    transform(str) {
      if(str===page.categories?.data[page.categories.length-1].name||str===page?.category){
        return `<b class="active">${str}</b>`
      }
      return str;
    }
  }) %>